@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #000;
    margin-top: -5px;
}

.left-side{
    width: 315px;
    height: 560px;
    float: left ;
    margin: 10px 5px;
    overflow: hidden;
    border-radius: 5px;
}
.left-side .nav-main{
    background-color: #161515;
    padding: 20px;
    border-radius : 5px;
    overflow: hidden;
}

.left-side .nav-main a{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    text-decoration: none;
    color: #f7eded;
    opacity: 0.4;
    transition: .5s;
}
.left-side .nav-main a:nth-child(1){
    margin-bottom: 15px;
}
.left-side .nav-main a i{
    margin-right: 35px;
    font-size: 26px;
    width: 10px;
}
.left-side .nav-main a:hover,
.left-side .nav-main .active{
    color: #ffffff;
    opacity: 1;
}

.left-elem{
    background-color: #161515;
    padding: 10px;
    margin-top: 7px;
    border-radius : 5px;
    overflow: hidden; 
    height: 90vh;
}
.left-elem .left-link{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.left-elem .left-link{
    margin: 5px 0 14px 10px;
}
.left-elem .left-link a{  
    display: flex;
    align-items: center;
    font-size: 17px;
    text-decoration: none;
    color: #f7eded;
    opacity: 0.4;
    font-weight: 500;
    transition: .5s;
    
}

.left-elem .left-link a i{
    margin-right: 5px;
    font-size: 30px;
}
.left-elem .left-link a:hover{
    color:#ffffff;
    opacity: 1;
}
::-webkit-scrollbar{
    width: 0.2em;
    background: transparent;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #888;
    transition: 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.scroll-cntn{
    background-color: #161515;
    padding: 8px 10px 10px 3px;
    height: 18vh;
    color: #ffffff;
    border-radius: 5px 5px 2px 2px;
    overflow-y: scroll ;
}

.create-playlst{
    background-color: #242424;
    padding: 15px 0 20px 12px;
    border-radius: 5px;
}
.create-playlst h3{
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}
.create-playlst p{
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding: 5px 0 20px 5px;
}
.create-playlst .create-btn{
    border-radius: 26px;
    background-color: #ffffff;

}
.create-playlst a{
    color: #000;
    font-size: 14px;
    padding: 6px 14px;   
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0 0 2px;
    transition: .1s;
}
.create-playlst a:hover{
    font-size: 14.5px;
    padding: 6.1px 14.1px;
    margin: 10px 0 0 1px;
    border: 2px solid #ffffff;
    color: #000;
}
.podcast{
    background-color: #242424;
    margin-top: 25px;
    padding: 15px 0 20px 12px;

}
.podcast h3{
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
}
.podcast p{
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding: 5px 0 20px 5px;
}
.podcast .podcast-btn{
    border-radius: 26px;
    background-color: #ffffff;

}
.podcast a{
    color: #000;
    font-size: 14px;
    padding: 6px 14px;   
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0 0 2px;
    transition: .1s;
}
.podcast a:hover{
    font-size: 14.5px;
    padding: 6.1px 14.1px;
    margin: 10px 0 0 1px;
    border: 2px solid #ffffff;
    color: #000;
}

.btm-links{
    display: flex;
    flex-wrap: wrap;
    background-color: #161515;
    align-items: flex-end;
    width: 245px;
    height: 135px;
    margin-left: 15px;

}
.btm-links a{
    font-size: 11px;
    text-decoration: none;
    margin: 0 10px 0 0;
    color: #f7eded;
    opacity: 0.8;
}
.left-elem a.eng {
    position: relative;
    top: 65px;
    background-color: #191414;
    font-weight: 600;
    color: #ffffff;
    border-radius: 23px;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 13px;   
    border: 1px solid #f7eded;
    transition: .1s;
    margin-left: 15px;
}

.left-elem .eng i{
    font-size: 15px;
    margin-right: 5px;
}
.left-elem a.eng:hover {
    padding: 5.5px 13.5px;
    font-size: 16.5px;
    border: 2px solid #f7eded;
    margin-left: 14px;
}

.top-cont{
    position: absolute;
    top: 5px;
    left: 325px;
    margin-right: 5px;
    width: 565px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #161515;
    border-radius: 5px 5px 0 0;
    z-index: 2;  
}
.top-cont .fb-btn{
    display: flex;
    justify-items: center;
    margin: 20px;
}
.fb-btn a.forward-btn, 
 a.backward-btn{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 100;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #000;
    color: #f7eded;
}
a.forward-btn{
    display: none !important;
}

.account-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.account-btn a.sign-up-btn{
    background-color: yellowgreen;
    padding: 12px 15px;
    border-radius: 10px;
    background: transparent;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    opacity: 0.4;
    transition: .2s;
}
a.sign-up-btn:hover{
    color: #fff;
    opacity: 1;
    font-weight: 700;
}
.account-btn a.log-in-btn{
    background-color: #ffffff;
    padding: 10px 30px;
    margin: 0 15px;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: .1s;
}
a.log-in-btn:hover{
    padding: 10.3px 30.3px;
    font-weight: 600;
    background-color: #f7eded;
}
    /* right side styles */
.right-side {
    position: absolute;
    top: 70px;
    left: 326px;
    height: 495px;
    overflow-y:scroll;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    width: 565px;
    background: #242424;
}

.main-page{
    width: 100%; 
    height: 100%;
    margin: 0 325px 5px 0;
}
.playlist{
    height: 525px;
}

.playlist .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #242424;
    padding-bottom: 2px;
}

.playlist .head a:nth-child(1){
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    position: relative;
    top: 10px;
    left: 25px;
}
.playlist .head a:nth-child(2){
    position: relative;
    top: 10px;
    font-size: 13px;
    right: 10px;
    color: #ffffff;
    opacity: .4;
    text-decoration: none;
}
.playlist .head a:hover{
    text-decoration:underline;
}

.card-board {
    height: 80%;
}

.card-board-2{
    height: 512px;
}

.card-board .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #242424;
    /* overflow: hidden; */
    /* width: fit-content; */
    height: 100%;
    /* overflow: scroll; */
}

.cards .figure{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.cards .figure a{
    display: inline-flex;
    position: relative;
    top: 5px;
    left: 5px;
    text-decoration: none;
    color: #f7eded;
    background: #161515;
    margin: 20px 19px 20px 20px;
    padding: 10px 0;
    width: 43%;
    height: 58%;
    border-radius: 5px;
    transition: .3s;
    overflow: hidden;
}
.cards .figure figure{ 
    margin-left: 15px;
    size: 30px;
    font-size: 13px;
    height: 70%;
    width: 90%;
    z-index: 1;
}
.cards .figure img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.cards figcaption p{
    opacity: .4;
}

.figure a:nth-child(3){
    display: none;
}
.figure a:nth-child(4){
    display: none;
}
.figure a:nth-child(5){
    display: none;
}

.figure .play-btn i{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 150px;
    bottom: 125px;
    font-size: 48px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: transparent;
    transition: .3s;
    padding-left: 5px;
}

.figure a:hover{
    background: #363636;
}

.figure a:hover i{   
    color: #000;
    background: rgb(138, 229, 138);
    transition: .3s;
    transform: translateY(-10px);
}

.main-fotter{
    display: flex;
    justify-content: space-between;
    height: max-content;

}
.main-fotter .links {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.main-fotter .links a{
    color: #fff;
    opacity: .4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 10px;
}

.links a:hover{
    opacity: 1;
    text-decoration: underline;
}
.links a.active{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 17.5px;
    text-decoration: none;
    opacity: 1;
}
.links .l-col, .m-col, .r-col{
    position: relative;
    left: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px 70px 20px 20px;
    width: 20%;
}
.btns{
    display: flex;
}
.btns a{
    position: relative;
    top: 15px;
    right: 10px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-decoration: none;
    background: #363636;
}
.btns a i{
    font-size: 20px;
}
.btns a:hover{
    background: #555;
}

hr{
    margin: 0 3%;
    opacity: .2;
}

h5 {
    position: relative;
    top: 50px;
    left: 35px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    opacity: .4;
    padding-bottom: 50px;
}
h5 a{
    color: #ffffff;
    opacity: .6;
}

@media (min-width: 425px){
    .left-side{
        display: none !important;
    }
    .main-page{
        position: relative;
        top: 70px !important;
    }
    .top-cont, .right-side{
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
    }
    .right-side{
        height: 100% !important;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 45% !important;
        height: 50% !important;
    }
    .card-board{
        height: 60%;
    }

    
}

@media (min-width: 768px){
    .top-cont, .right-side{
        width: 69% !important;
    }
    a.forward-btn{
        display: inline-flex !important;
    }
    .figure a:nth-child(3){
        display: inline-flex;
    }
    .figure a:nth-child(4){
        display: inline-flex;
    }
    .card-board{
        height: 55%;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 22% !important;
        height: 36% !important;
    }
    .figure figure{
        font-size: 9px !important;
        margin-left: 8px !important;
    }
    .figure .play-btn i{
        position: relative;
        bottom: 85px;
        left: 62%;
        width: 35px;
        height: 35px;
        font-size: 40px;
    }
    .main-fotter .links a {
        font-size: 14px !important;
    }
    .btns a{
        width: 40px;
        height: 40px;
    }

}
/* @media (min-width: 1130px){
    .top-cont, .right-side{
        width: 77% !important;
    }
} */
@media (min-width: 1024px){
    .card-board{
        height: 67%;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 22% !important;
        height: 44% !important;
    }
    .figure figure{
        font-size: 11px !important;
        margin-left: 8px !important;
    }
    .figure .play-btn i{
        position: relative;
        bottom: 105px;
        width: 45px;
        height: 45px;
        font-size: 45px
    }
    .main-fotter .links a {
        font-size: 14px !important;
    }
    .btns a{
        width: 40px;
        height: 40px;
    }

  
}

@media (min-width: 1172px){
    .top-cont, .right-side{
        width: 72% !important;
    }
}
@media (min-width: 1275px){
    .top-cont, .right-side{
        width: 74% !important;
    }
}

@media (min-width: 1350px){
    .top-cont, .right-side{
        width: 75% !important;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 19% !important;
        height: 44% !important;
    }
}
@media (min-width: 1410px){
    .top-cont, .right-side{
        width: 77% !important;
    }
}

@media (min-width: 1440px){
    .top-cont, .right-side{
        width: 77% !important;
    }
    .figure a:nth-child(5){
        display: inline-flex;
    }
    .card-board{
        height: 67%;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 18% !important;
        height: 50% !important;
    }
    .figure figure{
        font-size: 11px !important;
        margin-left: 8px !important;
    }
    .figure .play-btn i{
        position: relative;
        bottom: 105px;
        left: 130px;
        width: 45px;
        height: 45px;
        font-size: 45px
    }
    .main-fotter .links a {
        font-size: 14px !important;
    }
    .btns a{
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 1603px){
    .top-cont, .right-side{
        width: 79% !important;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 18% !important;
        height: 53% !important;
    }
}
@media (min-width: 1701px){
    .top-cont, .right-side{
        width: 80% !important;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 18% !important;
        height: 54% !important;
    }
}
@media (min-width: 2000px){
    .top-cont, .right-side{
        width: 84% !important;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 14% !important;
        height: 54% !important;
    }
}
@media (min-width: 2560px){
    .top-cont, .right-side{
        width: 87% !important;
    }
    .figure a{
        margin: 10px 0 10px 15px !important;
        padding: 5px 0 !important;
        width: 10% !important;
        height: 53% !important;
    }
}